
body {
    background-image: url(../images/unnamed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*
header {
    text-align:center;
}


h1 {
    color:rgba(32, 7, 32, 0.925);
    font-size: 80px;
    font-weight: 300;
    text-align: center;
}


h4 {text-align: center;
    font: size 15px;
}



h3 {
        color:rgb(6, 0, 5);
        text-align: center;
        font-size: 30px
    }



p {
    color:rgb(6, 0, 5);
    text-align: center;
}

.blurb {
    color:rgb(11, 11, 12);
    font-size: 15px;
    font-style: italic;
    background-color:rgba(223, 221, 226, 0.368)
}
 
.blurbmain {
    color:rgb(11, 11, 12);
    font-size: 15px;
    background-color:rgba(223, 221, 226, 0.368)
}

#journal  {
    font-family: monospace;
    background-color: rgba(198, 212, 212, 0.486);


}

img {
    border-radius: 50%;

}

footer {
        color:rgba(13, 1, 19, 0.724);
        font-size: 20px;
        font-weight:100;
        text-align: center;
        background-color: rgba(223, 221, 226, 0.368);
    }

    

    /*WORKING stage with BEM semantic code

.header {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap:wrap;

}
 .header__text {
 }

.header__text--h1 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 70px;
    font-weight: 40px;

}
 */

 *{
    font-family: 'Share Tech Mono', monospace;
 }
.Submitform {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Share Tech Mono', monospace;
    margin: 30px;
    padding: 20px;
    max-width: 1400px;
    width: 100%;
    min-height: 600px;
}

.Submitform__items {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    width:350px;
    height:220px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.767);
    border-radius: 4px;
    box-shadow: 4,4,4,4 inset #5555;
    
}

.Submitform__items--styles{
    font-family: 'Share Tech Mono', monospace;
    color:rgb(21, 6, 35)    
}

.submitform__clickbutton {
    display: flex;
    justify-items: flex-end;
    margin: 10px;
}

.Submitform__clickbutton--styles {
    
    background-color: rgb(0, 255, 47);
    color:azure;
    font-weight: 400;
    border-radius: 4px;
    border:none;
    padding: 10px;
    margin: 10px;
}

.inputtext {
    font-size: 10px;
}

.Submitform__name, .Submitform__dreamtext, .Submitform__email, .Submitform__clickbutton, .Submitform__password {
    margin: 10px;

}

